:root {
  --main-black: #050505;
  --main-red: #c90303;
  --main-gold: #be6c00;
  --main-silver: silver;
}

html {
  box-sizing: border-box;
  font-size: 60%;
}

@media (max-width: 30em) {
  html {
    font-size: 60%;
  }
}

body {
  font-size: 2rem; 
  font-weight: 400;
  color: var(--main-black);
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

a {
  color: var(--main-black);
}

img {
  display: block;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 30em) {
  .nav {
    justify-content: center;
  }

  
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-gold);
}

.letmedie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-image: url(/img/40k.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

.letmedie > p {
  font-size: 3rem;
  font-weight: 200;
  color: var(--main-black);
  background-color: var(--main-silver);
}

.trash-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-gold);
}

.trash-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.5rem  var(--main-black);
}

@media (max-width: 30em) {
  .trash-section-header {
    font-size: 4rem;
  }
}

.trash-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 ;
  margin-bottom: 6rem;
}

@media (max-width: 30em) {
  .trash-section {
    padding: 6rem 1rem;
  }

    .trash-grid {
    grid-template-columns: 1fr;
  }
}

.warhammer {
  background: var(--main-silver);
  
  border-radius: 2px;
}

.warhammer:hover .code {
  color: #ff7f50;
}

.warhammer-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.warhammer-image {
  height: calc(100% - 10rem);
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-silver);
  transition:  0.5s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.whydoilive-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: url(/img/41k.jpg);
}

.whydoilive-section-header > h2 {
  font-size: 6rem;
  background-color: var(--main-silver);
}

@media (max-width: 28.75em) {
  .whydoilive-section-header > h2 {
    font-size: 4rem;
  }
}

.whydoilive-section-header > p {
  font-style: italic;
  background-color: var(--main-silver);
}

.whydoilive-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.whydoilive-details {
  font-size: 2.4rem;
  transition: transform 0.3s ease-out;
}

.whydoilive-details:hover {
  transform: translateY(8px);
}
