.about {
    background: url(/images/emps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
  }
  
  
    .copyright {
        font-size: 1.4rem;
        color:var(--silver);
        margin-top: 6rem;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 70%; }  
  .needbox {
    background-color: var(--gold);
  }